<div class="custom-input-container textDiv">
  <label *ngIf="viewLabel" class="labelInput">{{ label }}</label>
  <div class="input-group position-relative">
    <input
      [type]="visibilitypassword ? 'text' : 'password'"
      class="form-control rounded-pill custom-input pl-5"
      [formControl]="control"
      [placeholder]="placeholder"
      autocomplete="on"
      style="z-index: 1"
    />
    <div
      class="position-absolute top-50 translate-middle-y end-0 p-2"
      style="z-index: 2"
    >
      <ftx-icon
        [ngClass]="{
          'text-muted': !visibilitypassword,
          'text-visibility': visibilitypassword
        }"
        (click)="togglepassword()"
        [icon]="visibilitypassword ? 'visibility' : 'visibility_off'"
      ></ftx-icon>
    </div>
  </div>

  @if (viewError){
  <div class="col-md-12 col-sm-12">
    @if (control.invalid && control.touched) {
    <mat-error class="invalid-feedback">{{ getErrorMessage() }} </mat-error>
    }
  </div>
  }
</div>
