<div class="form-group" style="text-align: justify">
  <label class="labelInput">{{ label }}</label>
  <select
    class="form-control"
    [formControl]="control"
    style="border-radius: 20px"
  >
    <option value="" disabled selected>Selecciona...</option>
    <option *ngFor="let element of elements" [value]="element.value">
      {{ element.name }}
    </option>
  </select>
  @if (viewError){
  <div class="col-md-12 col-sm-12">
    @if (control.invalid && control.touched) {
    <mat-error class="invalid-feedback">{{ getErrorMessage() }} </mat-error>
    }
  </div>
  }
</div>
