@defer(on viewport){

<div class="container row">
  @for (subject of subjects; track subject.id) {
  <div class="col-sm-6 col-xl-4 col-12">
    <ftx-item [Title]="'Materia: ' + subject.name">
      <ng-container content>
        <p class="p-item"><strong>Profesor: </strong> {{ subject.professor.name }}</p>
      </ng-container>
      <ng-container footer>
        <div class="d-flex">
          <ftx-button
            [content]="'Ver Estudiantes'"
            [buttonType]="'primary'"
            [icon]="'people'"
            (eventClick)="displayStudents('test')"
            [onlyIcon]="false"
          />
        </div>
      </ng-container>
    </ftx-item>
  </div>
  }
</div>
<div class="example-container"></div>
} @placeholder {
<p>No hay datos</p>
}@loading(minimum 0.5s) {
  <app-ftx-spinner />
}
