.columnTable{
  background-color: rgba(57, 62, 69, 1) !important;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.rowTable{
  /* font-size:1vw; */
  text-align: center;
  vertical-align: middle;
  padding: 3px;
}

/* Estilos generales para el paginador */
.mat-paginator {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

@media only screen and (max-width: 500px) {
  body > app-root > div > div:nth-child(2) > mat-drawer-container > mat-drawer-content > div.col-12 > app-order > div > ftx-layout-page > div > div.col-8.mx-auto > div.mt-4.ng-star-inserted > ftx-table > div:nth-child(2) > mat-paginator > div > div > div.mat-mdc-paginator-range-actions > div {
    display: none;
  }
}
