<ftx-layout-page [title]="'Registro de eventos manuales'">
  <div class="container-fluid">
    <div class="col-10 mx-auto mt-4">
      <ftx-card>
        <div card-header class="row align-items-center">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <h3><ftx-icon [icon]="'create'" />Todos los campos son obligatorios</h3>
          </div>
        </div>
        <div card-content>
          <form class="row" [formGroup]="eventForm">
            <div style="width: 100% !important" *ngIf="!isLoading">
              <div class="col-md-10 mx-auto col-sm-10">
                <div class="row mt-2 text-center">
                  <div class="col-lg-6 col-12 mb-3">
                    <ftx-input
                      [formGroup]="eventForm"
                      [controlName]="'Description'"
                      [label]="'Descripción'"
                      [placeholder]="'Descripción del evento'"
                    />
                  </div>
                  <div class="col-lg-6 col-12 mb-3">
                    <mat-form-field >
                      <mat-label>Fecha del evento</mat-label>
                      <input matInput formControlName="EventDate" [matDatepicker]="pickerDate" />
                      <mat-datepicker-toggle matIconSuffix [for]="pickerDate"></mat-datepicker-toggle>
                      <mat-datepicker #pickerDate></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row mt-3 mb-3">
                  <div class="col-6" style="text-align: end;">
                    <ftx-button
                      [buttonType]="'secondary'"
                      [content]="'Volver'"
                      (eventClick)="back()"
                      [icon]="'arrow_back'"
                    />
                  </div>
                  <div class="col-6 justify-content-center">
                    <ftx-button
                      [content]="'Registrar'"
                      (eventClick)="save()"
                      [disabled]="!eventForm.valid"
                      [icon]="'save'"
                    />
                  </div>
                </div>
              </div>
            </div>
            <app-ftx-spinner *ngIf="isLoading" />
          </form>
          <ftx-divider />
        </div>
      </ftx-card>
    </div>
  </div>
</ftx-layout-page>
