.p-item{
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container{
  margin-top: 10px;
}

.divider {
  margin-top: 20px;
  margin-bottom: 10px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #064284;
  border-radius: 2px;
  background-color: #fff;
}

.custom-checkbox input[type="checkbox"]:checked + label::before {
  background-color: #034186;
  border-color: #063d7d;
}

.custom-checkbox label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 10px;
  height: 16px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.custom-checkbox input[type="checkbox"]:checked + label::after {
  opacity: 1;
}
